body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23;
    background-image: url(https://img.freepik.com/fotos-kostenlos/eleganter-weisser-hintergrund-mit-grauen-abstrakten-formen_1017-19952.jpg?w=2000);
}

h5{
    height: 40%;
    width: 300px;
    position: absolute;
    left: -32%;
    top: 100%;
}

h4{
    height: 40%;
    width: 300px;
    position: absolute;
    left: -210%;
    top: 100%;

}
.maindiv1{
    height: 35%;
    width: 250px;
    position: absolute;
    left: 5%;
    top: 5%;
    transform: translate(-10%, -10%);
    background-image: url(img/logo_LE.png);
    background-size: 100% 100%;
}

.maindiv2{
    height: 220px;
    width: 320px;
    position: absolute;
    left: 200%;
    top: 90%;
    transform: translate(-10%, -10%);
    background-image: url(img/Murati_Edlir_big.jpg);
    background-size: 100% 100%;
}


.maindiv3{
    height: 220px;
    width: 320px;
    position: absolute;
    left: 190%;
    top: 11%;
    transform: translate(-10%, -10%);
    background-image: url(img/image\ \(1\).png);
    background-size: 100% 100%;
}

